/* Dashboard styles */
dl.request-details { overflow: auto;
	dt { width: 60px; float: left; clear: left; }
	dd { float: left; margin-left: 15px; }
}

td.form-thumbnail { width: 120px; padding-top: 16px; }
