<div class="row">
    <div class="navigation col-md-3">
        <div class="order btn-group btn-group-justified">
            <div class="btn-group"><button type="button" data-direction="desc" class="btn btn-default active">Newest First</button></div>
            <div class="btn-group"><button type="button" data-direction="asc" class="btn btn-default">Oldest First</button></div>
        </div>
        <hr>
        <ul class="folders nav nav-pills nav-stacked">
            <% _(folders).each(function (folder, name) { %>
            <li class="<%= active(name, currentFolder) %>"><a href="#<%= name %>"><span class="glyphicon glyphicon-folder-close"></span> <%= name %> <span class="badge pull-right"><%= folder.data.length %></span></a></li>
            <% }); %>
        </ul>
        <hr>
        <form action="#" class="well" method="get" role="form">
        <fieldset>
            <legend>Search</legend>
            <div class="input-group">
                <input class="form-control search" name="q" placeholder="Search" type="search">
                <span class="input-group-btn">
                    <button class="clear btn btn-default" type="button"><span class="clear glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
          </fieldset>
        </form>
    </div>
    <div class="content col-md-9">
    </div> <!-- /.content -->
</div> <!-- /.row -->'